<!DOCTYPE html>
<html lang="en">
<head>
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Partials</title>
      <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
      <nav class="text w-full h-20 bg-sky-600 flex gap-10">
            <span class="text-white py-5 text-3xl font-bold ml-10 md:mx-10">Node Class</span>
            <ul class="text-white py-6 flex gap-4 lg:gap-20">
                  <!-- <li class="text">
                        <a href="/" class="text  font-semibold text-xl">Home</a>
                  </li>
                  <li class="text">
                        <a href="/signUp" class="text font-semibold text-xl">SignUp</a>
                  </li> -->
                  <li class="text">
                        <a href="/new-post" class="text font-semibold md:text-xl">New Post</a>
                  </li>
                  <li class="text">
                        <a href="/displayData" class="text font-semibold md:text-xl">Display Data</a>
                  </li>
                  <!-- <li class="text">
                        <a href="/about" class="text font-semibold text-xl">About</a>
                  </li>
                  <li class="text">
                        <a href="/screen" class="text font-semibold text-xl">Dashboard</a>
                  </li> -->
            </ul>
      </nav>
      