<nav class="text w-full h-20 bg-sky-600 flex">
      <span class="text-white py-5 text-3xl font-bold mx-10">Node Class</span>
      <ul class="text-white h-full py-6 flex gap-4 ml-10">
            <li class="text">
                  <a href="/" class="text  font-semibold text-xl">Home</a>
            </li>
            <li class="text">
                  <a href="/signUp" class="text font-semibold text-xl">SignUp</a>
            </li>
            <li class="text">
                  <a href="/logIn" class="text font-semibold text-xl">Log In</a>
            </li>
            <li class="text">
                  <a href="/about" class="text font-semibold text-xl">About</a>
            </li>
            <li class="text">
                  <a href="/screen" class="text font-semibold text-xl">Dashboard</a>
            </li>
      </ul>
</nav>