<!-- <%- include("../views/partials/head.ejs") %> 

<form action="/new-post" method="POST" class="py-20 grid gap-4 w-1/4 text-center mx-auto" >
      <h1 class="text ">New Post</h1>
      <input placeholder="title" title="title" name="title" type="text" class="text border rounded-full  px-4 py-1">
      <input placeholder="More" title="more" name="more" type="text" class="text border rounded-full  px-4 py-1">
      <input  name="picture" type="file" class="text border rounded-full  px-4 py-1">
      <button class="text-white text-2xl bg-blue-500 px-4 py-1 text-center">Submit</button>
</form>

<%- include("../views/partials/footer.ejs") %>  -->